/* styles.css */


html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo-container {
    flex: 0 0 auto; 
    margin-right: 20px; 
}

.nav-logo {
    width: 100px; 
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1; 
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 20px; 
    margin-right: 20px;
}

nav ul li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #0E3262;
    color: #fff; 
    border-radius: 5px; 
}

section {
    padding: 50px;
}

section h1 {
    margin-top: 0;
}

/* style for home section */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('images/home/home.png') no-repeat center center/cover;
    height: 85vh;
    position: relative;
}

.container1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo1 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 523px;
    height: auto;
}

.content1 {
    max-width: 80%;
}

.content1 h1 {
    margin-left: 20px;
    font-size: 3em;
    text-align: left;
    color: #0E3262;
    font-family: 'montserrat';
}

.learn-more {
    position: absolute;
    bottom: 90px;
    left: 20px;
    padding: 10px 20px;
    background-color: #003366;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    font-family: 'Helios Antique';
}

.f1 {
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'montserrat';
    letter-spacing: 0.3em;
}

@media (max-width: 768px) {
    .logo1 {
        width: 400px;
    }
    
    .content1 h1 {
        font-size: 3em;
    }

    .learn-more {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .f1 p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .content1 h1 {
        margin-top: 150px;
        font-size: 2.5em;
    }

    .learn-more {
        padding: 6px 12px;
        font-size: 0.8em;
    }

    .f1 p {
        font-size: 0.8em;
    }
}


/* style for about section */
#about{
    background: url('images/project/project_section_bg.png') no-repeat center center; 
    padding: 5px 0;
    max-width: 100%;
}

.who-we-are {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'montserrat';
}

#about h2 {
    font-size: 2em;
    color: #0E3262;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.125em;
    color: #0E3262;
    line-height: 2.5;
    text-align: center;
}

.we-believe {
    background-color: #0E3262; 
    color: white;
    padding: 20px;
    text-align: center;
}
.we-believe h2 {
    margin-bottom: 20px;
    text-align:left;
    font-family: 'montserrat';
}
.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-item {
    flex: 1 1 calc(25% - 40px); 
    margin: 10px;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    
    text-align: center;
    color: #0E3262; 
}
.image-item img {
    width: 100%;
    height: auto;
    display: block;
}
.image-item figcaption {
    padding: 30px;
    font-size: 1em;
    font-family: 'montserrat';
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .image-item {
        flex: 1 1 calc(33.33% - 40px); 
    }
}

@media (max-width: 992px) {
    .image-item {
        flex: 1 1 calc(50% - 40px); 
    }
}

@media (max-width: 768px) {
    .who-we-are {
        max-width: 90%;
    }

    #about h2 {
        font-size: 1.8em;
    }

    #about p {
        font-size: 1.1em;
    }

    .we-believe {
        padding: 15px;
    }

    .image-item {
        flex: 1 1 calc(50% - 20px); 
        margin: 5px;
    }

    .image-item figcaption {
        font-size: 20px;
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .who-we-are {
        max-width: 100%;
        padding: 0 10px;
    }

    #about h2 {
        font-size: 1.5em;
    }

    #about p {
        font-size: 1em;
    }

    .we-believe h2 {
        font-size: 1.5em;
    }

    .image-item {
        flex: 1 1 100%; 
        margin: 5px;
    }

    .image-item figcaption {
        font-size: 18px;
        padding: 15px;
    }
}

/* style for services section */
#services {
    background-color: #ffffff;
    padding: 5px 0;
    font-family: 'montserrat';
}

.container2 {
    animation: panRight 1s ease-in-out;
    background-color: #fbf8f8;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.container3 {
    animation: panRight 0.5s ease-in-out;
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container2 h1 {
    text-align: left;
    font-weight: bolder;
    font-size: 2.25em;
    color: #0E3262;
}

.container2 h2 {
    margin-top: 40px;
    text-align: left;
    margin-left: 50px;
    font-size: 2.25em;
    color: #0E3262;
}

.container3 h2 {
    margin-top: 40px;
    text-align: left;
    margin-left: 50px;
    font-size: 2.25em;
    color: #0E3262;
}

.service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.service {
    width: calc(25% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.service img {
    max-width: auto;
    height: 205px;
    margin-bottom: 20px;
}

.service h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #003366;
    text-align: center;
}

.service p {
    font-size: 1em;
    color: #333;
    line-height: 1.5em;
    text-align: center;
}

@media (max-width: 1024px) {
    .service {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .service {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .service {
        width: 100%;
    }
}

/* style for projects section */
#projects{
    background-color: #ffffff;
    padding: 5px 0;
}

.project-section{
    background: url('images/project/project_section_bg.png') no-repeat center center; 
    background-size: 100vw 100vh; /* Ensure the background image covers the entire screen */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  /* Ensures the image covers the section */
    padding: 60px;
    text-align: left;
    font-family: 'montserrat';
}

.project-section h1{
    font-size: 2.25em;
    color: #0E3262;
}

.project-section h3{
    font-size: 1.75em;
    color: #0E3262;
}

.project-section p{
    font-size: 17px;
    color: #545454;
    text-align: justify;
    margin-bottom: 40px;
}

.we-done
{
    position: relative;
    background-color: #0E3262;
    height: 100vh;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 50px;
    justify-content: center

}

.we-done::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/project/weDone.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust opacity as needed */
    z-index: 1;
}

.we-done h1{
    padding: 40px 20px;
    text-align: left;
    color: #ffffff;       /* Headding colour*/
    font-family: 'montserrat';
    font-size: 2.25em;
}

.we-done-container {
    display: flex;
    justify-content: center; /* Center the columns */
    gap: 10px; /* Reduced gap to bring columns closer */
    width: 100%;
}

.we-done-column {
    padding: 10px;
    flex: 1 1 calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we-done-column img {
    width: 150px;
    height: 160px;
    margin-bottom: 0; 
}

.we-done-content {
    text-align: center;
    padding: 10px; 
}

.we-done-content h1 {
    font-family: 'Montserrat';
    font-size: 4.2em; 
    margin-bottom: 0%; 
}

.we-done-content p {
    font-family: 'Montserrat';
    font-size: 1.375em; 
    margin-bottom: 0%; 
}

/* style for products section */
#products {
    background-color: #ffffff;  
    padding: 5px 0;
}

#products h1 {
    text-align: left;
    font-size: 2.25em;
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    margin-bottom: 0px; 
    margin-left: 40px;
    font-weight: bolder;
    padding: 20px;
}

.product-upper {
    height: 80vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-upper img {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 0px; /* Remove any margin above the image */
}

.gradient-line {
    width: 100%; /* Adjust the width as needed */
    height: 10%; /* Adjust the height as needed */
    background: linear-gradient(90deg, #1E75BA, #F25B2A);
    position: relative;
    margin: 20px auto; /* Center the line horizontally */
    border-radius: 10px;
}
.gradient-line span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color as needed */
    font-family: 'Montserrat', sans-serif; /* Adjust font as needed */
    font-size: 35px; /* Adjust font size as needed */
    white-space: nowrap; /* Ensure text doesn't wrap */
}
.full-height-table {
    width: 100%;
    height: 10vh;
    border-collapse: collapse;
}

.full-height-table td {
    vertical-align: middle;
    text-align: center;
}
.left-side {
    width: 30%; /* 30% width for the left side */ 
}

.right-side {
    width: 70%; /* 70% width for the right side */
}

.gradient-button {
    background: linear-gradient(90deg, #1E75BA, #F25B2A);
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.gradient-button:hover {
    background: linear-gradient(90deg, #F25B2A, #1E75BA);
}

.greenlogo {
    width: 100%; /* Adjust the width as needed */
    height: 1000px; /* Maintain aspect ratio */
}


.product-lower {
    display: flex;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    background-image: url('images/products/productsbg.png');
    background-size: cover;
    background-position: center;
}

.left-column {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}

.left-column img {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
}

.left-column h5 {
    margin: 0;
    font-family: 'montserrat';
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
}

.shapes-set {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shape {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 40px;
    color: black;
    width: 60%;
}

.shape img {
    width: 80px;
    height: auto;
    margin-right: 5px;  
    margin-left: 5px;
}

.shape .content {
    display: flex;
    flex-direction: column;
}

.shape .topic {
    font-weight: bold;
    margin-bottom: 5px;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-column img {
    max-width: 100%;
    height: auto;
}   

.buttons-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 80px;
    font-family: 'montserrat';
    font-size: 22px;
}

.Buy-now {
    padding: 10px 20px;
    background:#EFEFEF;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    
}
.Learn-more{
    background: none; 
    border: none;     
    color:#ffffff;   
    font: inherit;    
    padding: 0;       
    cursor: pointer; 
}

@media screen and (max-width: 768px) {
    .product-upper img {
        width: 70%; /* Reduce image size */
    }

    .gradient-line span {
        font-size: 20px; /* Adjust font size */
    }

    .full-height-table {
        height: auto;
    }

    .left-side, .right-side {
        width: 100%;
    }

    .gradient-button {
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
    }

    .product-lower {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 10px;
    }

    .shape {
        width: 100%; /* Full width on small screens */
        padding: 5px; /* Reduce padding */
    }

    .shape img {
        width: 50px; /* Smaller icon size */
    }

    .buttons-container {
        flex-direction: column;
        gap: 10px;
    }

    .Buy-now, .Learn-more {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    #products h1 {
        font-size: 28px;
    }

    .gradient-line span {
        font-size: 18px;
    }

    .left-column h5 {
        font-size: 18px;
    }

    .shape .topic {
        font-size: 14px;
    }

    .shape .description {
        font-size: 12px;
    }

    .Buy-now, .Learn-more {
        font-size: 16px;
    }
}

/* style for our-team section */
#our-team {
    background-color: #ffffff;
    padding: 5px 0;
}

.team-header {
    background-color: #0E3262;
    color: white;
    height: 18vh;
}

.team-header h1 {
    font-size: 2.25em;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: -9px;
}

#our-team h1 {
    font-size: 2.25em;
    font-family: 'Montserrat';
    padding: 30px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.team-container {
    padding: 20px;
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.team-member {
    display: flex;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding: 10px;
}

.team-member img {
    width: 130px;
    height: 160px;
    object-fit: cover;
    margin-right: 15px;
}

.team-info {
    text-align: left;
}

.team-member h2 {
    font-size: 0.875em;
    font-weight: bold;
    color: #0E3262;
    margin-bottom: 5px;
    margin-top: 0;
}

.team-member p {
    font-size: 0.75em;
    font-style: italic;
    color: #0E3262;
    margin: 0;
}

/* style for contact-us section */
#contact-us {
    padding: 50px;
    background-color: #0E3262;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.content {
    max-width: 60%;
    margin: 0 auto;
}

.content h1 {
    font-size: 2.25em;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}

.content p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}

button {
    background-color: white;
    color: #0e2a47;
    border: none;
    padding: 15px 30px;
    font-size: 0.875em;
    font-family: 'Helios Antique';
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
}

button:hover {
    background-color: #ddd;
}

.contact-info {
    max-width: 30%;
    margin: 0 auto;
    text-align: left;
}

.contact-info p {
    font-size: 1.125em;
    line-height: 1.8;
    font-family: 'Helios Antique';
}

.contact-info a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    color: #00ff0d;
}

.contact-info img {
    width: 30px;
    height: 30px;
}

footer {
    margin-top: 50px;
    border-top: 3px solid white;
    padding-top: 10px;
}

footer p {
    font-size: 1em;
    font-family: 'Helios Antique';
    text-align: center;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .team-container {
        grid-template-columns: 1fr;
    }
    .content {
        max-width: 100%;
    }
    .contact-info {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        flex: none;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    button {
        width: 100%;
    }
}

/* For tablets and below */
@media (max-width: 992px) {
    .we-done h1 {
        font-size: 2em;
        padding: 30px 15px;
    }
    
    .we-done-container {
        gap: 10px;
    }

    .we-done-column {
        flex: 1 1 calc(50% - 20px); /* Two columns on medium screens */
    }

    .we-done-content h1 {
        font-size: 3.5em;
    }

    .we-done-content p {
        font-size: 1.2em;
    }
}

/* For small screens and mobile devices */
@media (max-width: 768px) {
    .we-done h1 {
        font-size: 1.75em;
        padding: 20px 10px;
    }

    .we-done-container {
        gap: 5px;
    }

    .we-done-column {
        flex: 1 1 100%; /* Single column on small screens */
        padding: 10px 0;
    }

    .we-done-column img {
        width: 120px;
        height: 120px;
    }

    .we-done-content h1 {
        font-size: 3em;
    }

    .we-done-content p {
        font-size: 1.1em;
    }
}

/* For extra small screens and mobile devices */
@media (max-width: 576px) {
    .we-done {
        padding: 10px 20px;
    }

    .we-done h1 {
        font-size: 1.5em;
        padding: 15px 10px;
    }

    .we-done-container {
        gap: 5px;
    }

    .we-done-column img {
        width: 100px;
        height: 100px;
    }

    .we-done-content h1 {
        font-size: 2.5em;
    }

    .we-done-content p {
        font-size: 1em;
    }
}

@keyframes panRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container2 .service,
.container3 .service,
.we-done-column {
    opacity: 0; /* Initial state */
    transform: translateX(-100%); /* Initial state */
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform, opacity; /* Hint to the browser */
}

.container2.animate .service,
.container3.animate .service,
.we-done-column.animate {
    opacity: 1;
    transform: translateX(0);
}

.container2.animate .service:nth-child(1),
.container3.animate .service:nth-child(1),
.we-done-column:nth-child(1).animate {
    transition-delay: 0s;
}

.container2.animate .service:nth-child(2),
.container3.animate .service:nth-child(2),
.we-done-column:nth-child(2).animate {
    transition-delay: 0.2s;
}

.container2.animate .service:nth-child(3),
.container3.animate .service:nth-child(3),
.we-done-column:nth-child(3).animate {
    transition-delay: 0.4s;
}

.container2.animate .service:nth-child(4),
.container3.animate .service:nth-child(4) {
    transition-delay: 0.6s;
}
